.home {
    position: absolute;
    top: 0;
    width: 100%;
    background-color: rgb(7 8 9 / 46%);
    padding-top: 70px;
}
.homewrapper.row {
    margin-top: 40px;
}
.homeimg{
    /* width: 60%; */
    height: 300px;
    width: 300px;
    border-radius: 30px 70px 30px 70px;
    border: 10px solid #219f94;
    margin-left: 90px;
}
.homeright.col-md-7 {
    margin-top: 30px;
}
.homeright {
    color: #b5a5ac;
}
.homeright hr {
    width: 100px;
    /* margin: auto; */
    padding: 3px 0px;
    border: none;
    background-color: rgb(192, 192, 205);
    border-radius: 50px;
    /* margin-top: -9px; */
    margin-bottom: 10px;
}
.homeright h1{
    font-size: 50px;
}
.iconsbtn {
    margin-top: 30px;
}

a.iconlink {
    /* border: 1px solid; */
    padding: 5px 30px;
    font-size: 20px;
    text-decoration: none;
    border-radius: 30px 70px 30px 70px;
    color: #ffd1d1;
    font-weight: 600;
    background-color: #219f94;

}
.iconlink:hover{
    background-color: rgb(192, 192, 205);
    transition: .5s;
    color: rgb(96, 96, 164);
  
}



.icon{
    font-size: 20px;
}




