@media (max-width: 768px) {
    a.iconlink {
        padding: 5px 100px;
        margin-left: 40px;
        margin-left: 100px;
    }

    .homeicon{
        margin-top: 20px;
    }
    .homeimg{
       width: 70%;
       height: auto;
    }
    .projectover {
        width: 65%;
        height: 330px;
        margin-left: 15px;
        margin-top: -350px;
        padding-bottom: 300px;
    }
    .projectContentWrapper {
        width: 80%;
        
    }
    .projectthree {
        height: 350px;
        width: 65.5%;
    }
    .projectimg img{
        margin-top: 20px;
        margin-left: 15px;
    }
    input.input{
        width: 90%;
    }
    .messes{
        width: 90%;
    }
  }

  @media (max-width: 576px){
    a.iconlink{
        padding: 5px 100px;
        margin-left: 10px;
    }
    .homeicon{
        margin-top: 30px;
    }
    .bgleftbottom img {
        margin-left: 350px;
        width: 190px;
        margin-top: -440px;
    }
    .homeimg{
        margin-left: 50px;
    }
    .projectover {
        width: 83%;
        padding: 40px 40px;
        height: 250px;
        margin-top: -250px;
    }
    .Typewriter__wrapper{
        font-size: 22px;
    }
    .homep{
        font-size: 18px;
    }

  }